* {
  font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 2em;
  justify-content: space-evenly;
  border-radius: 10px;
  background-image: linear-gradient(rgb(3, 1, 20), rgb(27, 17, 65));
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  /* background-color: #b05f6d; */
  background-image: linear-gradient(rgb(37, 5, 5), rgb(136, 5, 5));
  color: white;
  border-radius: 10px;
}
.blue {
  /* background-color: #275db3; */
  background-image: linear-gradient(rgb(2, 7, 44), rgb(4, 4, 125));
  color: white;
  border-radius: 10px;
}

.home {
  /* background-color: #386d41; */
  background-image: linear-gradient(rgb(10, 29, 8), rgb(3, 81, 3));
  color: white;
  border-radius: 10px;
}

a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: whitesmoke;
}
